* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mukta", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#root {
  min-height: 100%;
  min-width: 100%;
  position: relative;
}
//Colors
$primary-color: #384151;
$white-color: #fff;
$light-grey: #d3d3d3;

.flex__cl {
  display: flex;
  flex-direction: column;
}
.flex__row {
  display: flex;
  flex-direction: row;
}

.input {
  border: 1px solid $light-grey;
  outline: none;
  padding: 20px 10px;
}
.button {
  text-decoration: none;
  background: $primary-color;
  outline: none;
  border: 0;
  color: $white-color;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px;
  min-height: 45px;

  cursor: pointer;
  width: 40%;
  box-shadow: 1px 1px 10px $primary-color;

  &:active {
    box-shadow: unset;
  }
}
.wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;

  // WelcomePage CSS
  .welcome__container {
    width: 1042px;
    min-width: 375px;
    margin: 0 auto;
    height: 100%;
    min-height: fit-content;

    .welcome__loader {
      display: inline-block;
      position: relative;
      align-self: center;
      top: 50%;
      width: 80px;
      height: 80px;
      div {
        position: absolute;
        border: 4px solid $primary-color;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
        &:nth-child(2) {
          animation-delay: -0.5s;
        }
      }
    }
    .welcome__page__navbar {
      justify-content: center;
      align-items: center;
      width: 100%;
      flex: 1 1 20%;
      max-height: 100px;
      background-color: $primary-color;

      .welcome__page__ul {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        .active {
          border-bottom: 2px solid orange;
        }
        .welcome__page__li {
          cursor: pointer;
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          align-items: center;

          color: $white-color;
          list-style-type: none;
          padding: 10px;
        }
      }
    }
    .welcome__page__text {
      flex: 1 1 60%;
      height: fit-content;
      max-height: fit-content;

      .text {
        padding: 10px 10px 10px 10px;
      }
      .welcome__page__header {
        width: 100%;
        flex: 1 1 40%;
      }
      .welcome__page__body {
        width: 100%;
        flex: 1 1 40%;
      }
      .welcome__page__footer {
        width: 100%;
        flex: 0 0 20%;

        .contact__text {
          width: 100%;
          .contact__text__link {
            color: rgb(39, 54, 83);
            text-decoration: none;
          }
        }
        .contact__user {
          border: 1px solid $primary-color;
          padding: 4px;
        }
      }
    }
    .link__buttons {
      align-items: center;
      width: fit-content;
      position: fixed;
      bottom: 0;
      right: 0;

      .button {
        min-width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  //Registration CSS
  .register__container {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    .register__loader {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
      div {
        position: absolute;
        border: 4px solid $primary-color;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
        &:nth-child(2) {
          animation-delay: -0.5s;
        }
      }
    }
  }

  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  .register__container__error {
    color: red;
    font-size: 20px;
    padding: 10px;
  }
  .register__form {
    width: 50%;
    min-width: 375px;
    max-width: 600px;
    height: 100%;
    border-right: 1px solid $light-grey;
    border-left: 1px solid $light-grey;
    justify-content: center;
    align-items: center;

    .register__form__header {
      font-size: 40px;
      margin: 20px;
    }
    .label {
      margin: 0 auto;
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      .error {
        color: red;
        margin-left: 2px;
      }
    }

    .input__register {
      width: 70%;
      margin: 20px;
    }
    .btns {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      .login__button {
        width: 100%;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  //LoginPage Css
  .login__container {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    .login__loader {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
      div {
        position: absolute;
        border: 4px solid $primary-color;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
        &:nth-child(2) {
          animation-delay: -0.5s;
        }
      }
    }

    @keyframes lds-ripple {
      0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
      }
      100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
      }
    }

    .login__container__error {
      color: red;
      font-size: 20px;
      padding: 10px;
    }
    .login__form {
      width: 50%;
      min-width: 375px;
      max-width: 600px;
      height: 100%;
      border-right: 1px solid $light-grey;
      border-left: 1px solid $light-grey;
      justify-content: center;
      align-items: center;

      .login__form__header {
        font-size: 40px;
        margin: 20px;
      }
      .input__login {
        width: 70%;
        margin: 20px;
      }
      .btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        .register__button {
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .google__button {
          display: flex;
          justify-content: center;
          width: 40%;
          box-shadow: 1px 1px 10px $primary-color;

          &:active {
            box-shadow: unset;
          }
        }
      }
    }
  }
  //ChatPage CSS
  .aside__bar {
    height: 100%;
    flex: 1 1 30%;
    max-width: 350px;

    .aside__header {
      width: 100%;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid grey;
      border-right: 1px solid grey;

      .aside__header__block {
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .aside__header__block__photo__name {
          align-items: center;
          width: 80%;
          .aside__header__user__photo {
            height: 50px;
            width: 50px;
            margin: 10px;
            align-self: baseline;
          }
        }

        .aside__header__settings {
          position: relative;
          cursor: pointer;
          width: 34px;
          height: 34px;
        }

        .dropdown__menu {
          display: flex;
          position: relative;
          width: 100px;
          border: 1px solid grey;

          cursor: pointer;
          .dropdown__menu__item {
            text-decoration: none;
            color: $primary-color;
            width: 100%;
            padding: 10px;
          }
          &:hover {
            .dropdown__menu__item {
              background-color: $primary-color;
              color: $white-color;
            }
          }
        }
        .display__none {
          display: none;
        }
      }

      .aside__input__block {
        position: relative;
        width: 90%;

        .aside__header__input {
          width: 80%;
          margin: 10px;
          border: 1px solid grey;
          outline: none;
          border-radius: 15px;
          height: 30px;
          padding-left: 30px;
        }
        .aside__search__png {
          width: 16px;
          height: 16px;
          position: absolute;
          bottom: 18px;
          left: 16px;
        }
      }
    }
    .aside__chats {
      width: 100%;
      flex: 1 1 70%;
      overflow-y: scroll;
      scroll-behavior: smooth;
      border-right: 1px solid grey;
      &::-webkit-scrollbar {
        display: none;
      }
      .aside__chats__label {
        flex: 1 1 10%;
        justify-content: center;
        width: calc(100% - 10px);
        padding: 20px 0px 20px 10px;
        color: rgb(48, 128, 182);
        font-size: 20px;
      }
      .aside__conversations {
        flex: 1 1 80%;
        width: 100%;
        height: 100%;

        .aside__conversation__item {
          cursor: pointer;
          width: 100%;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid grey;

          .conversation__item__block {
            display: flex;
            align-items: center;

            width: 100%;
            height: 100px;

            .conversation__item__photo {
              flex: 0 0 auto;

              width: 44px;
              height: 44px;
              margin-right: 10px;
            }

            .bio__block {
              flex: 1 1 33%;

              .conversation__item__last__message {
                text-overflow: ellipsis;
                overflow: hidden;
                opacity: 0.6;
                width: 200px;
                height: 40px;
                white-space: nowrap;
              }
            }
          }

          .aside__conversation__item__time {
            flex: 1 1 33%;
            position: relative;
            max-height: 20px;
            top: 30px;
            color: grey;
            font-size: 12px;
            font-weight: 200;
            width: 120px;
          }

          .conversation__item__not__seen__block {
            display: flex;
            position: relative;
            top: 50px;
            right: 20px;

            &::after {
              content: " ";
              background: $primary-color;
              display: inline-block;
              width: 10px;
              height: 10px;
              border-radius: 50%;
            }
          }
        }
        .selected {
          background-color: $primary-color;
          color: $white-color;
          .aside__conversation__item__time {
            opacity: 0.9;
            color: $white-color;
          }
          .conversation__item__not__seen__block {
            &::after {
              background: $white-color;
            }
          }
        }
      }
    }
  }
  .chat__container {
    flex: 1 1 70%;
    .chat__header {
      flex: 1 1 20%;
      max-height: 100px;
      width: 100%;
      border-bottom: 1px solid grey;

      .chat__container__profile__block {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
        .chat__container__profile__photo__name {
          align-items: center;

          width: 70%;
          .chat__container__profile__photo {
            width: 46px;
            height: 46px;
          }
        }
        .chat__container__profile__get__back {
          cursor: pointer;
          align-items: center;
          .chat__container__profile__block__close__arrow {
            transform: rotate(180deg);
          }
        }
      }
    }
    .chat__container__empty {
      flex: 1 1 65%;
      justify-content: center;
      align-items: center;
      font-size: 50px;
      opacity: 0.7;
    }
    .chat__body {
      flex: 1 1 65%;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .chat__body__messages {
      .chat__body__message__block {
        margin-inline: 10px;

        .chat__body__message__time {
          align-self: flex-start;
          margin-left: 20px;
        }
        .chat__body__message__and__photo {
          width: 100%;
          align-items: center;

          .chat__body__message__photo {
            width: 46px;
            height: 46px;
          }

          .chat__body__message {
            display: flex;
            justify-content: center;
            min-width: 100px;
            margin: 10px;
            max-width: 50%;
            display: flex;
            align-items: center;
            background-color: $primary-color;
            color: white;
            padding: 10px 10px;
            border-radius: 25px;
          }
        }

        .chat__body__message__time {
          opacity: 0.5;
        }
      }
      .me {
        flex-direction: column;
        .chat__body__message__and__photo {
          flex-direction: row-reverse;
        }
        .chat__body__message__time {
          align-self: flex-end;
          margin-right: 20px;
        }
        .chat__body__message__and__photo {
          .chat__body__message {
            color: #000;
            background-color: $light-grey;
          }
        }
      }
    }
    .chat__footer {
      max-height: 100px;
      border-top: 1px solid grey;
      flex: 1 1 15%;
      justify-content: center;
      width: 100%;

      .chat__footer__input__block {
        width: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
        .input {
          margin-inline: 10px;
          border-radius: 15px;
          width: 90%;
          padding: 13px 15px;
          border: 1px solid grey;
          outline: none;
        }
        .send__button {
          width: 24px;
          position: relative;
          right: 40px;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
input, select, textarea {
     font-size: 16px;
   }
  .wrapper {
    font-size: 20px;
    width: 375px;
    .login__container {
      .login__form {
        .login__button {
          margin-bottom: 20px;
        }
      }
    }
    .aside__bar {
      width: 375px;
      max-width: 100%;

      .aside__chats {
        font-weight: 600;

        .aside__conversations {
          .selected {
            background-color: unset;
            color: #000;
            .aside__conversation__item__time {
              color: unset;
            }
          }
        }
      }
    }
    .display__none {
      display: none;
    }
  }
}
@media (orientation: landscape) and (max-width: 700px) {
  .wrapper {
    font-size: 17px;
    width: 100%;
    height: 100%;

    .register__container {
      min-height: 375px;
      height: fit-content;
      .register__form {
        justify-content: unset;
        .register__form__header {
          margin-top: 10px;
        }
        .input__register {
          padding: 10px;
        }
        .btns {
          width: 100%;
          flex-direction: row;
          min-height: 45px;
          .button {
            min-height: 45px;
            margin: 0 auto;
            max-height: 45px;
            height: 100%;
          }
        }
      }
    }
    .login__container {
      min-height: 375px;
      .login__form {
        .login__form__header {
          margin: 0px;
        }
        .input__login {
          padding: 10px;
        }
        .btns {
          width: 100%;
          flex-direction: row;
          .button {
            margin: 0 auto;
            max-height: 45px;
            height: 100%;
          }
        }
      }
    }
    .aside__bar {
      min-height: 100%;
      width: 300px;
    }
    .display__none {
      display: flex;
    }
  }
}
